<ion-header>
  <ion-toolbar>
    <ion-title>login-usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #fc="ngForm" (ngSubmit)="onSubmit(fc)">
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" name="pws" [(ngModel)]="pws" required minlength="6" #s="ngModel"></ion-input>
    </ion-item>
    <ion-text color=danger *ngIf="(s.invalid && s.dirty)"> Senhas é muito curta! </ion-text>

    <ion-item lines="none">
      <ion-button type="submit" color="primary" [disabled]="fc.invalid">Salvar</ion-button>
      <ion-button type="reset" color="danger" routerLink="/">Cancelar</ion-button>
    </ion-item>

  </form>

  <ion-item lines="none">
    <ion-button color="warning" (click)="logout()"> Logout </ion-button>
  </ion-item>



</ion-content>